.DS_Store
skysync_env/

# server:
server/.DS_Store
server/conf/__pycache__/
server/conf/.env
server/conf/cert/
server/conf/openssl.cnf
server/__pycache__/
server/shutdown.log
server/skysync_app.log
server/uploaded_images/
server/processed_images/

# client:
client/.DS_Store
client/conf/.env
client/conf/cert/
client/conf/session.ini
client/__pycache__/
client/conf/__pycache__/
client/gui/__pycache__/
client/gui/pages/__pycache__/
client/skysync_app.log
client/cached_images/
